<!-- START SECTION FEATURE CATEGORIES -->
<section class="feature-categories" style="background: #f6f6f6">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="sec-title">
          <h2><span>Tri</span></h2>
        </div>
      </div>
    </div>
    <!-- /row -->
    <div class="row">
      <!-- Single category -->
      <div
        class="col-lg-3 col-md-4 col-sm-6"
        style="display: flex; justify-content: center"
      >
        <a class="btn btn-yellow" style="margin: 5px; width: 60%" >Délais</a>
      </div>
      <br />
      <!-- Single category -->
      <div
        class="col-lg-3 col-md-4 col-sm-6"
        style="display: flex; justify-content: center"
      >
        <a class="btn btn-yellow" style="margin: 5px; width: 60%">Prix</a>
      </div>
      <br />
      <!-- Single category -->
      <div
        class="col-lg-3 col-md-4 col-sm-6"
        style="display: flex; justify-content: center"
      >
        <a class="btn btn-yellow" style="margin: 5px; width: 60%">Comfort</a>
      </div>
      <br />
      <!-- Single category -->
      <div
        class="col-lg-3 col-md-4 col-sm-6"
        style="display: flex; justify-content: center"
      >
        <a class="btn btn-yellow" style="margin: 5px; width: 60%"
        >émission co2</a
        >
      </div>
    </div>
    <!-- /row -->
  </div>
</section>
<!-- END SECTION FEATURE CATEGORIES -->
