<header id="header-container" class="header head-tr">
  <!-- Header -->
  <div id="header" class="head-tr bottom">
    <div class="container">
      <!-- Left Side Content -->
      <div class="left-side">
        <!-- Logo -->
        <div id="logo">
          <h3>Vtc Compartor</h3>
          <!--  <a href="index.html"><img src="images/logo-white-blue.svg" data-sticky-logo="images/logo-blue.svg" alt=""></a>-->
        </div>
        <!-- Mobile Navigation -->
        <div class="mmenu-trigger">
          <button class="hamburger hamburger--collapse" type="button">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>
        </div>
        <!-- Main Navigation -->
        <nav id="navigation" class="style-1 head-tr" style="z-index: 5">
          <ul id="responsive">
            <li>
              <a class="current" routerLink="">Acceuil</a>
            </li>
            <li>
              <a routerLink="info/about">Qui Sommes-Nous?</a>
            </li>
            <li>
              <a>Informations</a>
              <ul>
                <li>
                  <a routerLink="info/how-to-use-our-website"
                  >Comment ca Marche</a
                  >
                </li>
                <li>
                  <a routerLink="info/advantages">Les avantages</a>
                </li>
                <li><a routerLink="info/patners">Partenaires</a></li>
              </ul>
            </li>
            <li><a routerLink="info/contact">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>

